<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    processIsolation="true"
    colors="true"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php"
    strict="true"
    verbose="true"
    syntaxCheck="true">

    <testsuites>

        <testsuite name="Unit Testing">
            <directory>./tests</directory>
        </testsuite>

    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib/</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="testdox-text" target="php://stdout"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>


</phpunit>
